<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">verificar-correo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-wrapper">
  <div class="wrapper">
    <div class="body">
      <img class="logo" src="../../assets/img/fire.png" alt="Login" id="shakeImage" class="fire-animation">
      <h1 style="margin-top: 40%;">Le enviamos un correo electrónico para verificarlo</h1>
      <div style="margin-top: 40%;" class="d-grid gap-2 mt-3">
        <ion-button color="warning" type="button" class="btn btn-primary btn-lg" routerLink="/login">Volver</ion-button>
      </div>
    </div>
  </div>
</ion-content>
<footer class="footer" style="text-align: center; margin-top: 10%;  margin-bottom: 5%;">
  <ion-title style="font-size: medium;">Build With Firebase <ion-icon name="logo-firebase"></ion-icon></ion-title>
</footer>
