<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar st>
      <ion-img
      src="assets/estduoc.png"
      style="height: 100px; width: 200px; margin: 0 auto"></ion-img>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-wrapper">
  <div class="wrapper">
    <div *ngIf="!loading" class="body">
      <img class="logo" src="../../assets/fotos/logo.png" alt="Login" id="shakeImage" class="fire-animation">
      <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
        <div style="margin-top: 10%;" class="form-floating mb-3">
          <p>Te enviaremos un correo con instrucciones para recuperar tu contraseña</p>
          <br>
          <ion-label>Correo electrónico</ion-label>
          <input style="margin-top: 5%" type="email" class="form-control" formControlName="correo" placeholder="nombre@ejemplo.com">
          <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
            El <strong>correo</strong> es requerido
          </span>
          <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
            El <strong>correo</strong> es inválido
          </span>
        </div>
        <div style="margin-top: 10%;" class="d-grid gap-2 mb-3">
          <ion-button type="submit" class="btn btn-primary btn-lg" [disabled]="recuperarUsuario.invalid">Recuperar contraseña</ion-button>
        </div>
        <ion-button color="primary" fill="outline" [routerLink]="('/login')">
          <ion-icon name="arrow-back-outline"></ion-icon>
          Volver
        </ion-button>
      </form>
    </div>
    <ion-spinner *ngIf="loading"></ion-spinner>
  </div>
</ion-content>

