// Tab bar flotante
ion-tabs {
  ion-tab-bar {
      --background:#0cc58f;
      --color:white;
  }
}


ion-tab-button.tab-selected[tab="tab1"] {
color: #da9e09;
}

ion-tab-button.tab-selected[tab="tab2"] {
color: #da9e09;
}


ion-tab-button.tab-selected[tab="tab3"] {
color: #da9e09;
}


ion-tab-button.tab-selected[tab="tab"] {
color:#da9e09;
}
ion-tab-button.tab-selected[tab="login"] {
color:#da9e09;
}

ion-tab-button.tab-selected[tab="login"]:hover{
--color:#da9e09;
}

