<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="text-align: center; color: white; font-family: 'Arial', sans-serif;">
      <ion-icon size="large" name="business-sharp"></ion-icon>
      <ion-label style="font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: bold;"> Geocentro Marin 382</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card *ngFor="let datas of data; let i = index" style="background-color: #012c56;">
      <ion-card-header>
        <ion-card-title>
          <h1 style = "color: white;">Estacionamiento #{{ i + 1 }}</h1> <!-- Mostrar el índice único comenzando desde 1 -->
          <p *ngIf = "datas.disponible == false" style = "color : white; font-size: medium;">Propietario : {{ datas.email }}</p> <!-- Mostrar el nombre del estacionamiento -->
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1 *ngIf = "datas.disponible == true" style = "font-size: small;">Disponible <img sty class="disponible" alt="Silhouette of mountains" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEVl/wB6QsljAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=" /></h1>
        <h1 *ngIf = "datas.disponible == false" style = "font-size: small;">
          No disponible
          <img class="no-disponible" alt="No disponible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEX/AAAZ4gk3AAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=" />
        </h1>
        <!-- <h2 style="margin-top: 5%;" *ngIf = "datas.tipo == true">Preferencial <ion-icon name="accessibility"></ion-icon></h2> -->
      </ion-card-content>
      </ion-card>
</ion-content>
